<html lang="en">

<head>

    <title>Daraz Scraping And Download</title>

    <style>
        .parent_div {
            width: 60vm;
            height: 60vm;
            background-color: #DBF3FA;
            padding: 50px;
            border-radius: 8px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
    <div class="parent_div">
    <form method=post enctype=multipart/form-data>
      <input type="text" name="key" value=" Paste URL "long test entry>
     <input type="text" name="key" value=" Type File name "long test entry>
      <input type=submit value= Download>
        </form>
    </div>

</body>

</html>