<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Flask</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body style="padding: 20px;">
        <form action="/download" method="post">
            <label for="textv">Paste Your URL:</label><br>
            <input type="text" id="url" name="url" value=""><br>

            <label for="textv">Enter Your Filename:</label><br>
            <input type="text" id="filename" name="filename" value=""><br>
            <input type="submit" value="Download">
       </form>
       <br><br><hr>
       <ul>
            {% for text in all_text %}
            <li> {{ text[1] }} </li>
            {% endfor %}
       </ul>
</body>
</html>